<h3>Quiz</h3>
<h4>
    <%= body.candidateID %>
</h4>
<h4>
    <%= body.startDate %>
</h4>
<ul>
    <% body.title.forEach(function(title,i){ %>
        <li>
            <div>
                <%= i+1 %> : <%= title %>
            </div>
            <p>
            <h4>คำตอบ:
                <div>
                    <%- body.answer[i] %>
                </div>
            </h4>
            </p>
            <% if (body.script[i] !=null && body.script[i] !='' ) { %>
                <h4>Script:
                    <% if (body.language[i]=='html' ) {%>
                        <div>
                            <%= body.script[i] %>
                        </div>
                        <% } else { %>
                            <div>
                                <%- body.script[i] %>
                            </div>
                            <% } %>
                </h4>
                <% } %>
        </li>
        <% }); %>
</ul>